!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Itemilu 〜色んなオフ会に行ってみる〜
    = csrf_meta_tags
  %body
    = yield
    %script{:src => "/javascripts/bundle.js"}